@charset "utf-8";
/* CSS Document */



/* CSS Document */


html,
body {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	color: #000;
}




#wrapper {
	width: 1300px;
	text-align: left;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	margin-bottom: 30px;
}
#top {
	background-color: #FFF;
	background-image: url(images/top.jpg);
	background-repeat: repeat;
	height: 17px;
	width: 1300px;
}
#banner {
	background-image: url(images/bkgTile.jpg);
	background-repeat: repeat;
	height: 308px;
	width: 1300px;
}
#bannerImg {
	background-image: url(images/banner01.jpg);
	background-repeat: no-repeat;
	height: 308px;
	width: 1202px;
	margin-right: auto;
	margin-left: auto;
}
#bannerNav {
	height: 46px;
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/bkgTile.jpg);
	background-repeat: repeat;
}
#nav_01 {
	width: 1202px;
	height: 46px;
	margin-right: auto;
	margin-left: auto;
}
#body {
	background-image: url(images/bkgTile.jpg);
	background-repeat: repeat;
	width: 1300px;
	padding-bottom: 50px;
	padding-top: 35px;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	font-size: 1em;
	color: #333;
}
#btm {
	background-image: url(images/bottom.jpg);
	background-repeat: no-repeat;
	height: 10px;
	width: 1300px;
}
#contactForm {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#thankYou {
	text-align: left;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
}












.textNav:link {
	color: #00F;
	text-decoration: none;
}


.textNav:visited {
	color: #00F;
	text-decoration: none;
}

.textNav:hover {
	color: #00F;
	text-decoration: underline;
}
.textNav:active {
	color: #00F;
	text-decoration: underline;
}
